body { font-family: Comic Sans MS; width: 80%;background-color: black ;}

h1 { font: italic 3em Georgia; color: rgb(23, 109, 109);
 margin: 1em 0 1em; }

img { height: 50%;margin-bottom: -150px; margin-top: -240px; margin-left: % ;width:-100%}

img { margin-bottom:% ; margin-top:-15% ;margin-left:7% ;margin-right:-50% ;}

small { color: #666666; }
background { margin-left: -0.3%;}

	h2 {margin-left: 38%;margin-top:-4%;font-size:300%;color:red ; }
	h3 {font-size: 200% ;color:blue ;}
	a { text-decoration: none; } 
a:link { color: blue; }
a:visited { color: gray; }
a:focus { color: black; background-color: red; }
a:hover { color: white; background-color: red; }
a:active { color: blue; background-color: red; }

