body { font-family: Comic Sans MS; width: 80%;background-color: black ;}


img { height: 50%;margin-bottom: -150px; margin-top: -240px; margin-left: % ;width:-100%}

img { margin-bottom:% ; margin-top:-15% ;margin-left:-1% ;margin-right:-50% ;}

small { color: #666666; }
background { margin-left: -0.3%;}

	h1 {margin-left:60%;margin-top:-4%;font-size:300%;color:red ; }

        h2 {margin-left:1%;margin-top:-150px;font-size:300%;color:red ;margin-bottom:150px;}
    
