head { color:#3b39f7b4 ;background-color:#67f6b8b3 ;}
h2 { 
 text-align:center; font-size:20px;}
h1 {color:#f7454e;font-size:55px; 
  text-align: center;
}
}
background { size: 200px; }
html { background:black; }
h2 {color:#21b7dde8 ;}
p {color: #21b7dde8;
padding: center;font-size:25px;

text-align: center; 
}
a{ text-decoration: none;
  padding-left:10px;
}
img { width: 80%;height: 80%;
padding-left: 10%;
  
}
h4 { color: #21b7dde8;

 text-align:center; font-size:20px;}
 h5 { text-align: center;
 }
 .link {color: red; font-size: 1%;
 background-color: black;
 background-color: black;
   
 }
 h3 {font-size: 25px;
 color: #21b7dde8;
   
 }
 .note {color: red;font-size: 19px;
   
 }
 .downl { color: #21b7dde8;font-size: 15px;
   
 }
#yt {
 text-align: center;
}
 
   
