.margin {
  margin: 0 20% 0 20%;
  background: black;
}
.nkl {
  width: 60%;
  height: 60%;
  margin-left: 20%;
  margin-bottom: -8%;
}
 .movie
 {
   text-align: center;
   color: blue;
 }
 .still {
   width: 30%;
   height: 40%;
   margin-left: 34%;
   border-style: solid;
   border-width: 1px;
   border-color: blue;
 }
 .ss {
   width: 45%;
   height: 100%;
 }
 .scr {
   margin-left: 9%;
   margin-top: -2%;
 }
 h2 {
   text-align: center;
   color: blue;
 }
 .yt {
   margin-left: 30%;
 }
 .tb {
   margin-left: 20%;
   border-spacing: 30px;
 }
 .lh {
   font-size: 160%;
   color: blue;
 }
 .lk {
   margin-left: 27%;
  font-size: 120%;
  background: #21b7dde8;
  border-radius: 7px;
  border-color: 21b7dde8;
 }
 .lk:hover {
   background: red;
  border-color: red;
 }
